* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
}
.container{
    max-width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.container img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index:-1;
}
#board{
    position: relative;
    width: 31.25vw;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin-top: 30px;
}
#status{
    font-family: 'VT323', monospace;
    color: #FDFAF4;
    font-size: 50px;
    text-shadow: 0 0 8px black;
}
#restart{
    border-color:#DDC2BD;
    width: 130px;
    height: 55px;
    background-color: #CDA5A3;
    border-radius: 15px;
    font-size: 25px;
    font-family: 'VT323', monospace;
    color: #FDFAF4;
}
.box{
    height: 20.7vh;
    width: 10.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #A07F78;
    font-size: 50px;
    border-right: 3px solid;
    border-bottom: 3px solid;
}
.container p{
    font-size: 26px;
    color: black;
}
.box:nth-child(3n){
    border-right: none;
}
.box:nth-child(6) ~ .box{
    border-bottom: none;
}
@media (max-width: 600px) and (min-width: 300px){
    #board{
        width: 300px;
    }
    .box{
        height: 100px;
        width: 100px;
        font-size: 40px;
    }
    #restart{
        width: 115px;
        height: 45px;
        font-size: 20px;
    }
}
@media (max-width: 900px) and (min-width: 600px){
    #board{
        width: 500px;
    }
    .box{
        height: 150px;
        width: 150px;
    }

}