* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    position: relative;
}
.container img {
    background-size: cover;
    width: 100%;
}
.gameboard{
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #C29996;
    font-size: 50px;
    border-right: 3px solid;
    border-bottom: 3px solid;
}
.box:nth-child(3n){
    border-right: none;
}
.box:nth-child(6) ~ .box{
    border-bottom: none;
}